
<h3>
    <a href="#basic-pips" id="basic-pips" class="anchor">
        Basic Usage - Pips
    </a>
</h3>

<p>The default way to use the plugin is to call the <code>pips</code> method on an initialised slider. This
    will add the markers along the slider, and place the <code>min/max</code> values to the beginning/end of the slider:</p>
    

<dl class="tabs code" data-tab>
    <dd><a href="#default-pips-result" title="result"><i class="icon icon--eye"></i></a></dd>
    <dd><a href="#default-pips-html" title="html">&lt;/&gt;</a></dd>
    <dd class="active"><a href="#default-pips-js" title="jquery">($)</a></dd>
</dl>

<div class="tabs-content">

    <div class="content" id="default-pips-result">

        <div id="example-pips"></div>

    </div>

    <div class="content" id="default-pips-html">

        <pre data-lang="html">
            &lt;!-- the HTML must have an element to reference, here we've 
                created a div with the class "slider" <a href="#" data-active-tab="#default-pips-js">to reference in jQuery</a> --&gt;

            &lt;div class="slider"&gt;&lt;/div&gt;
        </pre>

    </div>

    <div class="content active" id="default-pips-js">
        <pre data-lang="js">
            // to create the slider on the page we use jQuery to select the element
            // <a href="#" data-active-tab="#default-pips-html">from the HTML</a> and apply the .slider() method, then we apply the pips afterwards.

            $(".slider").slider().slider("pips");
        </pre>
    </div>

</div>








<h3>
    <a href="#basic-floats" id="basic-floats" class="anchor">
        Basic Usage - Floats
    </a>
</h3>

<p>If floats are desired instead of pips, we can call the <code>float</code> method in place of <code>pips</code>:</p>
    

<dl class="tabs code" data-tab>
    <dd><a href="#default-floats-result" title="result"><i class="icon icon--eye"></i></a></dd>
    <dd><a href="#default-floats-html" title="html">&lt;/&gt;</a></dd>
    <dd class="active"><a href="#default-floats-js" title="jquery">($)</a></dd>
</dl>

<div class="tabs-content">

    <div class="content" id="default-floats-result">

        <div id="example-float"></div>

    </div>

    <div class="content" id="default-floats-html">

        <pre data-lang="html">
            &lt;!-- Your HTML must have an element to reference, here we've 
                created a div with the class "slider" <a href="#" data-active-tab="#default-floats-js">to reference in jQuery</a> --&gt;

            &lt;div class="slider"&gt;&lt;/div&gt;
        </pre>

    </div>

    <div class="content active" id="default-floats-js">
        <pre data-lang="js">
            // we still select the jQuery element <a href="#" data-active-tab="#default-floats-html">from the HTML</a> like before, 
            // but now we supply the float method instead of pips.

            $(".slider").slider().slider("float");
        </pre>
    </div>

</div>