
<h3>
    <a href="#template" id="template" class="anchor">
        Basic Usage
    </a>
</h3>

<p>The most basic usage is to call the <code>pips</code> method on an initialised slider. This
    will add the markers and add a value to the beginning and end of the slider</p>
    

<dl class="tabs code" data-tab>
    <dd><a href="#basic-result" title="result"><i class="icon icon--eye"></i></a></dd>
    <dd><a href="#basic-html" title="html">&lt;/&gt;</a></dd>
    <dd class="active"><a href="#basic-js" title="jquery">($)</a></dd>
</dl>

<div class="tabs-content">

    <div class="content" id="basic-result">

        <div id="basic-pips"></div>

    </div>

    <div class="content" id="basic-html">

        <pre data-lang="html">
            &lt;div class="slider"&gt;&lt;/div&gt;
        </pre>

    </div>

    <div class="content active" id="basic-js">
        <pre data-lang="js">
            $(".slider").slider().slider("pips");
        </pre>
    </div>

</div>