

/* project-specific styles */



.example .ui-slider-pip-label {
    color: white;
}

.example .ui-slider-line {
    background: white;
}

.example .ui-slider-horizontal {
    height: 5px;    
}

.example .ui-slider .ui-slider-handle {
    width: 15px;
    height: 15px;
    margin-left: -8px;
    border-radius: 8px;
    background: white;
    border: 1px solid white;
    outline: none;
}

.example .ui-slider .ui-slider-handle.ui-state-hover, 
.example .ui-slider .ui-slider-handle.ui-state-focus {
    background: white;
    border-color: #0073EA;
    box-shadow: 0 0 10px rgba(255,255,255,0.9);
}




.ui-slider .ui-slider-range {

    background: #D7E0E9;

}

.ui-slider .ui-slider-handle {

    background: #9CAAB9;
    border: 1px solid #9CAAB9;

}

.ui-slider .ui-slider-handle.ui-state-hover, 
.ui-slider .ui-slider-handle.ui-state-focus {

    border: 1px solid #0073EA;
    background: #0073EA;

}

.ui-slider-horizontal .ui-slider-handle {

    width: 16px;
    margin-left: -9px;

}

.ui-slider-vertical .ui-slider-handle {

    height: 16px;
    margin-bottom: -9px;

}

.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label {

    top: 30px;

}

#awesome .ui-slider-pip {

    top: auto;
    bottom: 7px;

}

#awesome .ui-slider-line {

    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin-left: -2px;
    background: #0073EA;

}

#awesome .ui-slider-tip {

    background: #0073EA;
    color: white;
    border-color: #0073EA;

}

#awesome .ui-slider-tip:before,
#awesome .ui-slider-tip:after {

    border-top-color: #0073EA;

}

#awesome .ui-slider-pip-label {

    color: #0073EA;

}

#awesome .ui-slider-label {

    color: #0073EA;
    top: 7px;

}

#awesome .ui-slider-pip-first .ui-slider-label {

    left: -2px;

}

#awesome .ui-slider-pip-last .ui-slider-label {

    left: auto;
    right: -20px;

}

#slider9 .ui-slider-label {
    font-size: 12px;
    margin-left: -15px;
}


