

/* project-specific styles */



.example .ui-slider-pip-label {
    color: white;
}

.example .ui-slider-line {
    background: white;
}

.example .ui-slider-horizontal {
    height: 5px;    
}

.example .ui-slider .ui-slider-handle {
    width: 15px;
    height: 15px;
    margin-left: -8px;
    border-radius: 8px;
    background: white;
    border: 1px solid white;
    outline: none;
}

.example .ui-slider .ui-slider-handle.ui-state-hover, 
.example .ui-slider .ui-slider-handle.ui-state-focus {
    background: white;
    border-color: #0073EA;
    box-shadow: 0 0 10px rgba(255,255,255,0.9);
}




.ui-slider .ui-slider-range {

    background: #D7E0E9;

}

.ui-slider .ui-slider-handle {

    background: #9CAAB9;
    border: 1px solid #9CAAB9;

}

.ui-slider .ui-slider-handle.ui-state-hover, 
.ui-slider .ui-slider-handle.ui-state-focus {

    border: 1px solid #0073EA;
    background: #0073EA;

}

.ui-slider-horizontal .ui-slider-handle {

    width: 16px;
    margin-left: -9px;

}

.ui-slider-vertical .ui-slider-handle {

    height: 16px;
    margin-bottom: -9px;

}

.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label {

    top: 30px;

}






#awesome .ui-slider-pip {

    top: auto;
    bottom: -5px;

}

#awesome .ui-slider-line {

    width: 4px;
    height: 4px;
    border-radius: 2px;
    margin-left: -2px;
    background: #0073EA;

}

#awesome .ui-slider-tip {

    background: #0073EA;
    color: white;
    border-color: #0073EA;

}

#awesome .ui-slider-tip:before,
#awesome .ui-slider-tip:after {

    border-top-color: #0073EA;

}

#awesome .ui-slider-pip-label {

    color: #0073EA;

}

#awesome .ui-slider-label {

    color: #0073EA;
    top: 7px;

}

#awesome .ui-slider-pip-first .ui-slider-label {

    left: -2px;
    top: -5px;

}

#awesome .ui-slider-pip-last .ui-slider-label {

    left: auto;
    right: -20px;
    top: -5px;

}



#awesome2 {

    margin-bottom: 3em;

}

#awesome2 .ui-slider-handle {

    border-radius: 15px/10px;
    background: #4F5861;
    border-color: #4F5861;

}

#awesome2 .ui-slider-handle:after {

    content: " ";
    width: 0; 
    height: 0;
    border: 7px solid transparent;
    border-top-color: #4F5861;
    position: absolute;
    bottom: -12px; 
    left: 50%; 
    margin-left: -7px; 

}

#awesome2 .ui-slider-tip,
#awesome2 .ui-slider-tip:before,
#awesome2 .ui-slider-tip:after {

    background: transparent;
    border: none;
    font-size: 1.2em;

}

#awesome2 .ui-slider-pip {

    width: 1%;
    margin-left: -0.5%;

}

#awesome2 .ui-slider-pip > .ui-slider-label {

    display: none;
    height: 4px;

}

#awesome2 .ui-slider-pip > .ui-slider-line {

    background: #aaa;

}

#awesome2 .ui-slider-pip:nth-of-type(5n+1) > .ui-slider-line {

    height: 6px;
    background: #777;

}

#awesome2 .ui-slider-pip:nth-of-type(5n+1) > .ui-slider-label {

    display: block;
    top: 8px;
    color: #ccc;
    font-size: 0.8em;

}

#awesome2 .ui-slider-pip:nth-of-type(10n+1) > .ui-slider-line {

    height: 10px;
    background: #222;

}

#awesome2 .ui-slider-pip:nth-of-type(10n+1) > .ui-slider-label {

    display: block;
    top: 12px;
    color: #333;
    font-size: 1em;

}





#slider9 .ui-slider-label {
    font-size: 12px;
    margin-left: -15px;
}


