.block {

    padding: 4em 1em;

    &:nth-child(1) {
        padding-top: 0;
        @media #{$xsmall-only} {
            padding-bottom: 0;
        }
    }

    &:nth-child(even) {

        background: white;

        .sub-block {

            border-bottom-color: lighten($fcolor,50%);

        }
    }

    @media #{$small-up} { 
        padding: 4em 3em;
    }

    @media #{$large-up} { 
        padding: 4em 5em;
    }

}

.sub-block {

    padding: 3em 0.5em;
    margin: 0 -0.5em;
    border-bottom: 1px solid darken($bcolor, 10%);

    &:nth-child(1) {
        padding-top: 0;
    }

    @media #{$small-up} { 
        padding: 3em 1em;
        margin: 0 -1em;
    }

    @media #{$large-up} { 
        padding: 4em 2em;
        margin: 0 -2em;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

}