.block {

    padding: 4em 1em;

    &:nth-child(even) {
        background: white;
    }

    &:nth-child(1) {

        padding-top: 0;

        @media #{$xsmall-only} {
            padding-bottom: 0;
        }

    }

    @media #{$small-up} { 
        padding: 4em 3em;
    }

    @media #{$large-up} { 
        padding: 4em 5em;
    }

}

.sub-block {

    padding: 0 0 4em;

    &:last-child {
        
        padding: 0;

    }

}