code {

    font-family: $code;
    font-weight: 400;

    color: $codecolor;
    background-color: $codebg;    
    border-color: $codeborder;

    border-radius: 2px;
    padding: 0.03em 0.3em 0.1em;

}