
$w: 15px;
$h: 25px;

.ui-slider {

    &.ui-slider-horizontal {

        margin-bottom: 4em;

        .ui-slider-handle {

            width: $w;
            height: $h;
            margin-left: -7px;
            top: -7px;

        }
 
    }


    &.ui-slider-vertical {

        .ui-slider-handle {

            width: $h;
            height: $w;
            margin-bottom: -7px;
            left: -7px;

        }

    }

}

.ui-widget-content {
 
    .ui-slider-handle {

        &.ui-state-default {

            background: $fcolor;
            border-color: $fcolor;

        }

        &.ui-state-focus,
        &.ui-state-hover,
        &.ui-state-active {

            background: $link;
            border-color: $link;

        }

        &.ui-state-focus {

            outline: none;
            border-color: $fcolor;

        }

    }

}