

.table-wrapper {

    @media screen and (max-width: 1000px) {

        overflow-x: scroll;

        table {

            min-width: 800px;

        }

    }

}


table {

    font-weight: 400;
    width: 100%;

    tr {

        td,
        th {

            border-right: 1px solid $table-border-color;
            border-bottom: 1px solid $table-border-color;
            vertical-align: top;

            &:last-child {

                border-right: none;

            }

        }

        &:last-child {

            td,
            th {

                border-bottom: none;
                
            }
        }

        &.divider {
            
            td {

                height: 3px;
                background: #ddd;
                padding: 0;
                border: none;

            }

        }

    }

    code {

        font-weight: 400;

    }

    p {
        
        font-size: inherit;
        margin-top: 0;

        &:only-child,
        &:last-child {

            margin: 0;

        }

    }

}