<section class="block">
    
    <h2>
        <a href="#browser-support" id="browser-support" class="anchor">
            Browser Support
        </a>
    </h2>
    
    <ul class="browser-list">
        <li class="browser-list__item">
            <img src="dist/img/browsers/ch.png"><br>

        </li>
        <li class="browser-list__item">
            <img src="dist/img/browsers/ff.png"><br>

        </li>
        <li class="browser-list__item">
            <img src="dist/img/browsers/ie.png"><br>
            7+
        </li>
        <li class="browser-list__item">
            <img src="dist/img/browsers/sa.png"><br>

        </li>
        <li class="browser-list__item">
            <img src="dist/img/browsers/op.png"><br>

        </li>
    </ul>

    <!-- thanks to https://github.com/alrra/browser-logos for the logos. -->

    <p>Any feedback on issues or compatibility problems in certain browsers is greatly
        appreciated, please <a href="https://github.com/simeydotme/jQuery-ui-Slider-Pips/issues">leave it at my github page</a>.</p>

    <p>Although the slider should function corrently in IE7+, you may find that some of the CSS
        styles can not be applied correctly to IE7. This is just a matter of doing a little
        CSS work to style the slider how you like.</p>

</section>