<section class="block">

    <h2>
        <a href="#installation" id="installation" class="anchor">
            Installation
        </a>
    </h2>
    
    <p>There's 2 options; either <a href="https://github.com/simeydotme/jQuery-ui-Slider-Pips/releases/latest">get 
        the latest files from Github</a>, or it's possible to <a href="http://bower.io/search/?q=pips">use Bower to manage dependencies</a>.</p>

    <div class="row install-columns">

        <div class="large-6 xsmall-12 columns">

            <h3>Github</h3>

            <a class="button" href="https://raw.githubusercontent.com/simeydotme/jQuery-ui-Slider-Pips/master/dist/jquery-ui-slider-pips.js">
                JS <i class="icon right icon--download"></i>
            </a>

            <a class="button" href="https://raw.githubusercontent.com/simeydotme/jQuery-ui-Slider-Pips/master/dist/jquery-ui-slider-pips.css">
                CSS <i class="icon right icon--download"></i>
            </a>

            <p>right-click, save as</p>

        </div>

        <div class="large-6 xsmall-12 columns">

            <h3>Bower</h3>
            <pre class="inline" data-lang="bash">$ bower install jquery-ui-slider-pips --save</pre>

            <p>Bower will install dependencies, too, so no need to download jQuery as above.</p>
        
        </div>

    </div>

</section>