<section class="block">

    <h2>
        <a href="#template" id="template" class="anchor">
            Template
        </a>
    </h2>

    <dl class="tabs code" data-tab>
        <dd class="active"><a href="#tabs1-result" title="result"><i class="icon icon--eye"></i></a></dd>
        <dd><a href="#tabs1-html" title="html">&lt;/&gt;</a></dd>
        <dd><a href="#tabs1-css" title="css">{;}</a></dd>
        <dd><a href="#tabs1-js" title="jquery">($)</a></dd>
    </dl>

    <div class="tabs-content">

        <div class="content active" id="tabs1-result">

            <div class="row">
                <div class="small-12 columns">
                    <div id="example-slider-pips"></div>
                </div>
            </div>

        </div>

        <div class="content" id="tabs1-html">
            <pre data-lang="html">html</pre>
        </div>

        <div class="content" id="tabs1-css">
            <pre data-lang="css">css</pre>
        </div>

        <div class="content" id="tabs1-js">
            <pre data-lang="js">js</pre>
        </div>

    </div>

</section>