.content {

    padding-left: 0;
    padding-bottom: 12em;
    transition: $sidebarTransition;

    @media #{$medium-up} { 
        padding-left: $sidebarWidthSmall;
    }

    @media #{$large-up} { 
        padding-left: $sidebarWidthLarge; 
    }

    &__main {

        h2 {
            font-size: 2em; 
        }

        h3 { 
            font-size: 1.5em;
            color: lighten( $fcolor, 10% );
        }

        h4 { 
            font-size: 1.3em;
            color: lighten( $fcolor, 10% );
        }

    }

}


.anchor[href^="#"] {

    color: $fcolor;
    
    &:before {

        @extend .icon;
        @extend .icon--anchor;

        position: absolute;
        font-size: 0.7em;
        transform: translate(-3em, 0.5em);
        transition: all 0.2s ease;

        color: $headerstart;
        opacity: 0;

    }

    &:hover,
    &:focus,
    &:target {
        
        outline: none;

        &:before {

            @media #{$medium-up} { 
                opacity: 1;
                transform: translate(-1.5em, 0.5em);
            }

        }

    }

}


.uppercase {
    
    text-transform: uppercase;

}

.install-columns {
    
    .column,
    .columns {

        @media screen and (max-width: 1100px) { 
            
            float: none;
            width: 100%;
            position: static;

        }

    }

}