
$listTransition: all 0.2s ease;

body {

    &.nav--active {

        overflow: hidden;

        @media #{$medium-up} { 

            overflow: auto;

        }

    }

}

.sidebar {
    
    position: fixed;
    width: 100%;

    font-size: 1em;
    padding: 1em 1.5em 4em;

    top: 0;
    left: 0;
    height: 100%;
    background: $fcolor;
    color: $bcolor;
    overflow: auto;
    z-index: 4815;
    
    transform: translate3d( -100% , 0 , 0 );
    transition: $sidebarTransition;

    &--open {

        transform: translate3d( 0, 0, 0 );

    }


    @media #{$medium-up} { 
        
        font-size: 0.8em;
        transform: translate3d( 0, 0, 0 );
        width: $sidebarWidthSmall;

    }

    @media #{$large-up} { 

        width: $sidebarWidthLarge;
        font-size: 1em;

    }



    &__title {
    
        font-size: 1.4em;
        color: $bcolor;

    }

    &__nav {

        list-style: none;
        margin: 0;
        padding: 0 1em;
        font-size: 1em;

    }

    &__item {
    
        a {
            
            display: block; 
            padding: 0.2em 0;
            color: lighten($fcolor, 50%);
            transition: $listTransition;

            &:hover {

                color: lighten($fcolor, 65%);

            }

        }

        &:before {

            content: "\2023";
            position: absolute;
            transform: translate(-2em, 0.1em);
            opacity: 0;

            transition: $listTransition;
            
        }

        &:hover:before,
        &--active:before {

            transform: translate(-1em, 0.1em);
            opacity: 1;

        }

        &--active > a,
        &--active > a:hover {

            color: $link;

        }

        .sidebar__nav {
            
            font-size: 0.9em;

        }

    }

    &__toggle {

        position: fixed;
        font-size: 1.5em;
        width: 1em;
        height: 1em;
        bottom: 0.3em;
        right: 0.3em;
        padding: 1em;
        overflow: hidden;

        border-radius: $radius;
        background: $fcolor;
        
        transition: all 0.4s ease;
        z-index: 4815162342;

        @media #{$medium-up} {

            opacity: 0;
            transform: translate( 5em, 0 );

        }

        [class^=icon] {

            position: absolute;
            width: 1em;
            height: 1em;
            left: 50%;
            top: 50%;
            margin: -0.5em 0 0 -0.5em;
            transition: all 0.3s ease;

        }

        .icon--cross {
            opacity: 0;
            transform: translate(-2em, 0)
        }

        &--active {

            color: $link;

            .icon--cross {
                opacity: 1;
                transform: translate(0, 0);
            }
            .icon--menu {
                opacity: 0;
                transform: translate(2em, 0);
            }

        }

    }

}