
$listTransition: all 0.2s ease;

.sidebar {
    
    position: fixed;
    width: 100%;

    font-size: 0.8em;
    padding: 1em 1.5em;

    top: 0;
    left: 0;
    height: 100%;
    background: $fcolor;
    color: $bcolor;
    overflow: auto;
    
    transform: translate( -100% , 0 );
    transition: $sidebarTransition;

    @media #{$medium-up} { 

        transform: translate( 0 );
        width: $sidebarWidthSmall;

    }

    @media #{$large-up} { 

        width: $sidebarWidthLarge;
        font-size: 1em;

    }
    
    a {
        
        display: block;
        color: lighten($fcolor, 50%);
        transition: $listTransition;

        &:hover {

            color: lighten($fcolor, 80%);

        }

    }

    ul {

        font-size: 1em;

    }



    &__title {
    
        font-size: 1.4em;
        color: $bcolor;

    }

    &__nav {

        list-style: none;
        margin: 0;
        padding: 0 1em;

    }

    &__item {
        
        a { 
            padding: 0.2em 0;
        }

        &:before {

            content: "\2023";
            position: absolute;
            transform: translate(-2em, 0.1em);
            opacity: 0;

            transition: $listTransition;
            
        }

        &:hover:before,
        &.active {

            transform: translate(-1em, 0.1em);
            opacity: 1;

        }

    }

}