
.step-table {

    tr {

        td {
            
            vertical-align: middle;

            &:nth-child(3) {
                min-width: 350px;
            }
        }

    }

    .ui-slider.ui-slider-horizontal {

        margin: 0.6em 0 1.4em;
        height: 5px;
        background: $link;
        border-color: $link;

        .ui-slider-handle {

            height: 17px;

        }

        .ui-slider-pip {

            top: 8px;

            &[class*=ui-slider-pip-selected] {

                color: $codecolor;

            }
            
        }

    }

}