
<section class="sub-block" id="destroying">
    
    <h3>
        <a href="#destroying" class="anchor">
            Destroy Method
        </a>
    </h3>

    <p>There can often by times when you wish to destroy a slider's pips, or floats. It is very
        simple to achieve just by supplying <code>"destroy"</code> as the parameter instead
        of an options object.</p>

    <dl class="tabs code" data-tab>
        <dd class="active"><a href="#destroying-pips-js" title="destroy pips">Pips</a></dd>
        <dd><a href="#destroying-float-js" title="destroy float">Float</a></dd>
    </dl>

    <div class="tabs-content">

        <div class="content active" id="destroying-pips-js">
            
            <pre data-lang="js">
                // initialise the slider, and pips first
                $(".slider")
                    .slider()
                    .slider("pips");

                // after a slider has been inialised
                $(".slider")
                    .slider()
                    .slider("pips", "destroy");
            </pre>

        </div>

        <div class="content" id="destroying-float-js">
            
            <pre data-lang="js">
                // initialise the slider, and float first
                $(".slider")
                    .slider()
                    .slider("float");

                // after a slider has been inialised
                $(".slider")
                    .slider()
                    .slider("float", "destroy");
            </pre>

        </div>

    </div>

</section>