<section class="block">

    <header class="header">

        <h1 class="header__title">
            <a href="https://github.com/simeydotme/jQuery-ui-Slider-Pips">Slider Pips</a>
            <small>Making jQuery Sliders a little bit nicer</small>
        </h1>

    </header>

    <ul class="share-links">
        
        <li class="share-links__item">
            <a class="share-links__link" href="http://twitter.com/simeydotme">
                <i class="icon icon--twitter"></i> 
                @simeydotme
            </a>
        </li>

        <li class="share-links__item">
            <a class="share-links__link" href="http://github.com/simeydotme/jQuery-ui-Slider-Pips">
                <i class="icon icon--github"></i> 
                $.ui.slider.pips
            </a>
        </li>

        <li class="share-links__item">
            <a class="share-links__link" href="http://stackoverflow.com/search?q=jquery+ui+slider+pips">
                <i class="icon icon--stackoverflow"></i> 
                stackoverflow
            </a>
        </li>

    </ul>

</section>