<section class="block">

    <header class="header">

        <h1 class="header__title">
            <a href="https://github.com/simeydotme/jQuery-ui-Slider-Pips">Slider Pips</a>
            <small>Making jQuery Sliders a little bit nicer</small>
        </h1>

    </header>

    <ul class="share-links">
        
        <li class="share-links__item">
            <a class="share-links__link" data-share="Tweet" href="http://twitter.com/simeydotme" title="Tweet about my slider, I will retweet and love you.">
                <i class="icon icon--twitter"></i> 
                @simeydotme
            </a>
        </li>

        <li class="share-links__item">
            <a class="share-links__link" data-share="Github" href="http://github.com/simeydotme/jQuery-ui-Slider-Pips" title="Check out the repo and issues at Github">
                <i class="icon icon--github"></i> 
                $.ui.slider.pips
            </a>
        </li>

        <li class="share-links__item">
            <a class="share-links__link" data-share="Stackoverflow" href="http://stackoverflow.com/search?tab=newest&q=jquery+ui+slider+pips" title="view or add a question on Stackoverflow.">
                <i class="icon icon--stackoverflow"></i> 
                stackoverflow
            </a>
        </li>

    </ul>

</section>