<section class="block">

    <header class="header">

        <h1 class="header__title">
            <a href="https://github.com/simeydotme/jQuery-ui-Slider-Pips">Slider Pips</a>
            <small>Making jQuery Sliders a little bit nicer</small>
        </h1>

    </header>

    <div id="share">
        <a class="button" href="asdsa">
            You should tweet about this <i class="icon right icon--twitter"></i>
        </a>
        <a class="button grey" href="https://github.com/simeydotme/jQuery-ui-Slider-Pips">
            Shut up and take me to github! <i class="icon right icon--github"></i>
        </a>
    </div>

    <div id="help">
        <a class="button grey" href="https://github.com/simeydotme/jQuery-ui-Slider-Pips">
            I need some help <i class="icon right icon--stackoverflow"></i>
        </a        
    </div>

</section>