<a href="#" class="sidebar__toggle">
    <i class="icon icon--menu"></i>
    <i class="icon icon--cross"></i>
</a>

<nav class="sidebar">
    
    <h2 class="sidebar__title">Navigation</h2>

    <ul class="sidebar__nav">
    
        <li class="sidebar__item"><a href="#getting-started">Getting Started</a></li>
        <li class="sidebar__item"><a href="#installation">Installation</a></li>
        <li class="sidebar__item"><a href="#basic-usage">Basic Usage</a>
            <ul class="sidebar__nav">
                <li class="sidebar__item"><a href="#basic-pips">Pips</a></li>
                <li class="sidebar__item"><a href="#basic-float">Float</a></li>
            </ul>
        </li>

        <li class="sidebar__item"><a href="#customisation">Customisation</a>
            <ul class="sidebar__nav">
                <li class="sidebar__item"><a href="#customisation-options">Options</a>
                    <ul class="sidebar__nav">
                        <li class="sidebar__item"><a href="#options-pips">Pips</a></li>
                        <li class="sidebar__item"><a href="#options-float">Float</a></li>
                    </ul>
                </li>
                <li class="sidebar__item"><a href="#customisation-styling">Styling</a></li>
            </ul>
        </li>

        <li class="sidebar__item"><a href="#examples">Examples</a>
            <ul class="sidebar__nav">
                <li class="sidebar__item"><a href="#example-show-all-labels">Show All Labels</a></li>
                <li class="sidebar__item"><a href="#example-hide-labels-and-pips">Hide Labels &amp; Pips</a></li>
                <li class="sidebar__item"><a href="#example-only-pips">Only Show Pips</a></li>
                <li class="sidebar__item"><a href="#example-prefix-suffix">Prefix/Suffix</a></li>
                <li class="sidebar__item"><a href="#example-custom-labels">Custom Labels</a></li>
                <li class="sidebar__item"><a href="#example-hanzi-labels">More Custom Labels</a></li>
                <li class="sidebar__item"><a href="#example-steps">Steps</a>
                    <ul class="sidebar__nav">
                        <li class="sidebar__item"><a href="#example-steps-fivepercent">5% Interval</a></li>
                        <li class="sidebar__item"><a href="#example-steps-stacking">Multiplicative Steps</a></li>
                        <li class="sidebar__item"><a href="#example-steps-table">Step Table</a></li>
                    </ul>
                </li>
                <li class="sidebar__item"><a href="#example-vertical">Vertical Sliders</a></li>
            </ul>
        </li>

        <li class="sidebar__item"><a href="#styling">Styling</a>
        <li class="sidebar__item"><a href="#browser-support">Browser Support</a>

    </ul>

</nav>