<nav class="sidebar">
    
    <h2 class="sidebar__title">Navigation</h2>

    <ul class="sidebar__nav">
    
        <li class="sidebar__item"><a href="#getting-started">Getting Started</a></li>
        <li class="sidebar__item"><a href="#installation">Installation</a></li>
        <li class="sidebar__item"><a href="#examples">Basic Usage</a>
            <ul class="sidebar__nav">
                <li class="sidebar__item"><a href="#basic-pips">Pips</a></li>
                <li class="sidebar__item"><a href="#basic-float">Float</a></li>
            </ul>
        </li>
        <li class="sidebar__item"><a href="#customisation">Customisation</a></li>

    </ul>

</nav>