
#styling-after-slider {

    margin-top: 3em;

    .ui-slider-pip {

        top: -12px;

        .ui-slider-label {

            top: -18px;

        }

    }

}



#prefix-suffix-slider {

    .ui-slider-label {
        margin-left: -1.75em;
    }

    @media screen and (max-width: 1040px) {

        .ui-slider-pip:nth-of-type(2n+1) {
            .ui-slider-label {
                display: none;
            }
        }

    }

}


#hanzi-labels-slider {

    font-family: "SimHei", "Hei", sans-serif;

    .ui-slider-handle {

        .ui-slider-tip {

            font-size: 1.4em;
            width: 42px;
            margin-left: -22px;
            height: 33px;
            line-height: 30px;
            top: -40px;

            background: $fcolor;
            border-color: $fcolor;
            color: white;

            &:before,
            &:after {
                border-top-color: $fcolor;
            }

        }

    }

    .ui-slider-pip {

        font-size: 1.2em;

    }

}






#steps-fivepercent-slider {

    .ui-slider-tip {
        
        visibility: visible;
        opacity: 1;
        top: -30px;

    }

}






#vertical-slider {

    height: 150px;
    margin-left: 30px;

}