@font-face {
    font-family: "ghpages";
    src:url("../fonts/ghpages.eot?yziqsy");
    src:url("../fonts/ghpages.eot?#iefixyziqsy") format("embedded-opentype"),
        url("../fonts/ghpages.woff?yziqsy") format("woff"),
        url("../fonts/ghpages.ttf?yziqsy") format("truetype"),
        url("../fonts/ghpages.svg?yziqsy#ghpages") format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon {

    font-family: "ghpages";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.icon--arrow-left {
    &:before { content: "\e094"; }
}
.icon--arrow-right {
    &:before { content: "\e095"; }
}
.icon--arrow-up {
    &:before { content: "\e096"; }
}
.icon--arrow-down {
    &:before { content: "\e097"; }
}
.icon--plus {
    &:before { content: "\e114"; }
}
.icon--minus {
    &:before { content: "\e115"; }
}
.icon--check {
    &:before { content: "\e116"; }
}
.icon--cross {
    &:before { content: "\e117"; }
}
.icon--menu {
    &:before { content: "\e120"; }
}
.icon--download {
    &:before { content: "\e122"; }
}

.icon--anchor {
    &:before { content: "\e600"; }
}
.icon--question {
    &:before { content: "\e601"; }
}
.icon--eye {
    &:before { content: "\e602"; }
}