
$sans: "Open Sans", "Helvetica Neue", "Roboto", "Arial", sans-serif;
$alt: "Averia Sans Libre", serif;

$fcolor: #434d5a;
$bcolor: #eee;
$link: #00C7D7;

$grad1: #DE6262;
$grad2: #FFB88C;

$radius: 4px;

$sidebarWidth: 18em;