
@import "vars";

body {

    font-family: $sans;
    font-weight: 300;
    color: $fcolor;
    background-color: $bcolor;
}

h1, h2, h3, h4, h5, h6 {
 
    font-family: $sans;
    font-weight: 600;

    small {
    
        font-family: $alt;
        font-weight: 300;
        display: block;
        line-height: 1em;

    }

}


@import "pretty";
@import "sidebar";
@import "content";