
@import "vars";
@import "functions";
@import "mixins";

// import foundation
@import "../../../bower_components/foundation/scss/normalize";
@import "../../../bower_components/foundation/scss/foundation";

@import "modules/icons";

body {

    font-family: $sans;
    font-weight: 300;
    color: $fcolor;
    background-color: #FFFAF4;
}

h1, h2, h3, h4, h5, h6 {
 
    font-family: $sans;
    font-weight: 600;
    color: darken($fcolor,20%);

    small {
    
        font-family: $alt;
        font-weight: 300;
        display: block;
        line-height: 1em;
        
        color: lighten($fcolor ,10%);

    }

}

h1 {
    
    font-weight: 100;

}

%link {
    
    color: $headerstart;
    transition: color 0.2s ease;

    &:hover {
        color: $link;
    }

}

a,
pre a > .com,
code a > .com {
    @extend %link;
}

a > .com {
    border-bottom: 1px dotted;
}

small {
    
    font-size: 0.8em;

}










@import "modules/pretty";
@import "modules/code";

@import "modules/sliders";

@import "modules/blocks";
@import "modules/rows";
@import "modules/tabs";
@import "modules/buttons";
@import "modules/labels";
@import "modules/lists";
@import "modules/tables";


@import "blocks/sidebar";
@import "blocks/content";
@import "blocks/header";
@import "blocks/share-links";
@import "blocks/options-table";


@import "examples";