
@import "vars";
@import "icons";

body {

    font-family: $sans;
    font-weight: 300;
    color: $fcolor;
    background-color: $bcolor;
}

h1, h2, h3, h4, h5, h6 {
 
    font-family: $sans;
    font-weight: 600;
    color: darken($fcolor,20%);

    small {
    
        font-family: $alt;
        font-weight: 300;
        display: block;
        line-height: 1em;
        
        color: lighten($fcolor ,10%);

    }

}

h1 {
    
    font-weight: 100;

}

a {

    color: $grad1;
    transition: color 0.2s ease;

    &:hover {
        color: $link;
    }

}


@import "pretty";
@import "sidebar";
@import "content";
@import "header";