
@import "vars";
@import "functions";
@import "mixins";

// import foundation
@import "../../../bower_components/foundation/scss/normalize";
@import "../../../bower_components/foundation/scss/foundation";

@import "icons";

body {

    font-family: $sans;
    font-weight: 300;
    color: $fcolor;
    background-color: #FFFAF4;
}

h1, h2, h3, h4, h5, h6 {
 
    font-family: $sans;
    font-weight: 600;
    color: darken($fcolor,20%);

    small {
    
        font-family: $alt;
        font-weight: 300;
        display: block;
        line-height: 1em;
        
        color: lighten($fcolor ,10%);

    }

}

h1 {
    
    font-weight: 100;

}

%link {
    
    color: $headerstart;
    transition: color 0.2s ease;

    &:hover {
        color: $link;
    }

}

a,
a > .com {
    @extend %link;
}

a > .com {
    border-bottom: 1px dotted;
}

button,
.button {

    background: grad( $btn-start, $btn-end, 160 );
    text-shadow: 0 1px 1px darken( $btn-end, 10% );
    padding: 1em 2em 0.9em;
    border-radius: 2px;
    
    &.grey {
        background: grad( $btn-grey-start , $btn-grey-end , 160 );
    }

}

@import "pretty";
@import "sidebar";
@import "content";
@import "header";

@import "modules/sliders";

@import "modules/blocks";
@import "modules/rows";
@import "modules/tabs";
@import "modules/buttons";
@import "modules/labels";
@import "modules/code";