
    $size: 20px;
    $flatColor: #E8E2D3;

    $highlight: #25DAA5;
    $highlight1: #F27793;
    $highlight2: #BD77F2;
    $highlight3: #67C3EC;

    
    #styling-flat .vertical {

        text-align: center;

    }




    [ id *= flat-slider ].ui-slider {
        
        background: $flatColor;
        border: none;
        border-radius: 0;

        .ui-slider-handle {

            width: $size;
            height: $size;
            
            border-radius: 50% 50% 0;
            border-color: transparent;
            
            transition: border 0.4s ease;

            &.ui-state-hover,
            &.ui-state-focus,
            &.ui-state-active {

                border-color: #172f38;

            }

        }

        .ui-slider-pip {

            .ui-slider-line {

                background: $flatColor;
                transition: all 0.4s ease;

            }

        }


        &.ui-slider-horizontal {

            height: 6px;

            .ui-slider-handle {

                transform: rotateZ(45deg);
                top: -( $size + 5 );
                margin-left: -($size/2);

            }

            .ui-slider-pip {

                top: 10px;

                .ui-slider-line {

                    width: 2px;
                    height: $size/2;
                    margin-left: -1px;

                }
            
                &[ class *= ui-slider-pip-selected ] .ui-slider-line {

                    height: $size;

                }

                &.ui-slider-pip-inrange .ui-slider-line {
                    
                    height: $size*0.6;

                }

            }

        }

        &.ui-slider-vertical {

            width: 6px;
            height: 125px;
            display: inline-block;
            margin: 0 15%;

            .ui-slider-handle {

                transform: rotateZ(-45deg);
                left: -( $size + 5 );
                margin-bottom: -($size/2);

            }

            .ui-slider-pip {

                left: 10px;

                .ui-slider-line {

                    height: 2px;
                    width: $size/2;
                    margin-top: -1px;

                }
            
                &[ class *= ui-slider-pip-selected ] .ui-slider-line {

                    width: $size;

                }

                &.ui-slider-pip-inrange .ui-slider-line {
                    
                    width: $size*0.6;

                }

            }

            .ui-slider-handle .ui-slider-tip,
            .ui-slider-handle[ class *= ui-state- ] .ui-slider-tip {
                
                visibility: visible;
                opacity: 1;
                border: none;
                background: transparent;
                left: 50%;
                width: 30px;
                margin-left: -15px;
                text-align: center;
                color: white;
                font-weight: normal;
                top: 10px;
                transform: rotateZ(45deg);

                &:before {

                    display: none;

                }

            }

        }

    }

    #flat-slider .ui-slider-handle,
    #flat-slider .ui-slider-range,
    #flat-slider .ui-slider-pip[ class *= ui-slider-pip-selected ] .ui-slider-line,
    #flat-slider .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
        background-color: $highlight;
    }

    #flat-slider-vertical-1 .ui-slider-handle,
    #flat-slider-vertical-1 .ui-slider-range,
    #flat-slider-vertical-1 .ui-slider-pip[ class *= ui-slider-pip-selected ] .ui-slider-line,
    #flat-slider-vertical-1 .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
        background-color: $highlight1;
    }

    #flat-slider-vertical-2 .ui-slider-handle,
    #flat-slider-vertical-2 .ui-slider-range,
    #flat-slider-vertical-2 .ui-slider-pip[ class *= ui-slider-pip-selected ] .ui-slider-line,
    #flat-slider-vertical-2 .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
        background-color: $highlight2;
    }

    #flat-slider-vertical-3 .ui-slider-handle,
    #flat-slider-vertical-3 .ui-slider-range,
    #flat-slider-vertical-3 .ui-slider-pip[ class *= ui-slider-pip-selected ] .ui-slider-line,
    #flat-slider-vertical-3 .ui-slider-pip.ui-slider-pip-inrange .ui-slider-line {
        background-color: $highlight3;
    }