<section class="sub-block" id="basic-pips">
    
    <h3>
        <a href="#basic-pips" class="anchor">
            Pips
        </a>
    </h3>

    <p>The default way to use the plugin is to call the <code>pips</code> method on an initialised slider. This
        will add the markers along the slider, and place the <code>min/max</code> values to the beginning/end of the slider:</p>
        

    <dl class="tabs code" data-tab>
        <dd><a href="#default-pips-result" title="result"><i class="icon icon--eye"></i></a></dd>
        <dd><a href="#default-pips-html" title="html">&lt;/&gt;</a></dd>
        <dd class="active"><a href="#default-pips-js" title="jquery">($)</a></dd>
    </dl>

    <div class="tabs-content">

        <div class="content" id="default-pips-result">

            <div id="example-pips"></div>

        </div>

        <div class="content" id="default-pips-html">

            <pre data-lang="html">
                &lt;!-- the HTML must have an element to reference, here we've 
                    created a div with the class "slider" <a href="#" data-active-tab="#default-pips-js">to reference in jQuery</a> --&gt;

                &lt;div class="slider"&gt;&lt;/div&gt;
            </pre>

        </div>

        <div class="content active" id="default-pips-js">
            <pre data-lang="js">
                // to create the slider on the page we use jQuery to select the element
                // <a href="#" data-active-tab="#default-pips-html">from the HTML</a> and apply the .slider() method, then we apply the pips afterwards.

                $(".slider").slider().slider("pips");
            </pre>
        </div>

    </div>

</section>